<h2>NEW CELEBRITY</h2>

<form class="form" action="/celebrities" method="POST">
    <h2 class="title">Add a celebrity</h2>

   
        <label class="label" for="name">Name</label>
        <input class="input" id="name" type="text" name="name">
  

    
        <label class="label" for="occupation">Occupation</label>
        <select name="occupation" id="occupation">
            <option value="actor">Actor</option>
            <option value="singer">Singer</option>
            <option value="comedian">Comedian</option>
            <option value="mad scientist">Mad Scientist</option>
            <option value="unknown">Unknown</option>
        </select>


  
        <label class="label" for="catchPhrase">Catch Phrase</label>
        <input class="catchPhrase" id="catchPhrase" type="text" name="catchPhrase">
 

    <button class="btn">Submit</button>
</form>